@using ATEVersions_Management.Models.DTOModels
@model IEnumerable<GRRTableDTO>
@using ATEVersions_Management.Models.HelperModels
@{
    ViewBag.Title = "GRR Rejected List";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Page level scripts -->
<script src="~/Assets/Vendor/highcharts_js/highcharts.js"></script>
<script src="~/Assets/Vendor/highcharts_js/highcharts-more.js"></script>
<script src="~/Assets/Vendor/highcharts_js/modules/accessibility.js"></script>

<!-- DataTables -->
<div class="card shadow mb-4 bg-black text-white">

    <div class="card-header py-3 bg-black">
        <div class="text-danger">@ViewBag.ErrorMessage</div>
        <h3 class="m-0 font-weight-bold text-danger">GR&R Rejected List</h3>
        <a href="@Url.Action("GRRIndex","AdmGRRSystem")"
           class="fw-bold text-danger ">
            <i class="fas fa-arrow-alt-circle-left"></i>
            <span>GR&R Index</span>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive ">
            <table class="table table-bordered text-white" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.GageModel)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GageName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PartName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PreparedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApprovedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GRR_Result)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.GageModel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GageName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PartName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PreparedBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApprovedBy)
                            </td>
                            @{
                                string color = "success";
                                double percentGRR = item.GRR_Result.PercentGRR;
                                if (percentGRR > 30)
                                {
                                    color = "danger";
                                }
                                if (percentGRR <= 30 && percentGRR >= 10)
                                {
                                    color = "warning";
                                }

                            }
                            <td class="text-@color">
                                @percentGRR%
                            </td>
                            <td>
                                @switch (item.Status)
                                {
                                    case 0:<span class="text-danger fw-bold">Rejected</span> break;
                                    case 1: <span class="text-warning fw-bold">Prepared</span>break;
                                    case 2: <span class="text-info fw-bold">Approved</span>break;
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("GRRDetail", "AdmGRRSystem", new { id = item.GRR_ID })"
                                   title="Detail">
                                    <i class="fas fa-fw fa-info-circle"></i>
                                </a>
                                <a href="#" class="" title="Chart"
                                   data-toggle="modal" data-target="#GRRResultModal"
                                   onclick="GetGRRResultAtDetail('@item.JSON_OperTestResult')">
                                    <i class="fas fa-fw fa-chart-line"></i>
                                    <span></span>
                                </a>
                                @if (User.Identity.GetUserId() == item.UserID && item.Status == 0)
                                {

                                    <a href="#" title="Delete"
                                       data-toggle="modal" data-target="#deleteModal" onclick="DltConfirm(@item.GRR_ID,'@item.GageName - @item.PartName')">
                                        <i class="fas fa-fw fa-trash"></i>
                                    </a>

                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="@Url.Action("GRRDelete", "AdmGRRSystem")" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure want to delete this record?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" class="idValModal" />

                    <label>Gage ID: <span class="idTxtModal"></span></label><br />
                    <label>Gage name: <span class="nameTxtModal"></span> </label>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <input type="submit" value="Delete" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Assets/JS/AdminJS/helperIndexModals.js"></script>

<div>
    <input type="hidden" id="URL_POSTGrrCalculateResult" value="@Url.Action("POSTGrrCalculateResult","AdmGRRSystem", new {area = "Admin"})" />
</div>

<!-- GRR Result Modal-->
<div class="modal fade ChartModal" id="GRRResultModal" tabindex="-1" role="dialog" aria-labelledby="GRRResultModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="GRRResultModalTitle">
                    GRR Variations of
                    <span id="modalTilGRRPartName" class="text-black fw-bold"></span>
                </h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-black">
                        <tr>
                            <td id="tdDataEV"></td>
                            <td id="tdDataAV"></td>
                            <td id="tdDataRR"></td>
                            <td id="tdDataPV"></td>
                            <td id="tdDataTV"></td>
                        </tr>
                        <tr>
                            <td id="tdPercentEV"></td>
                            <td id="tdPercentAV"></td>
                            <td id="tdPercentRR"></td>
                            <td id="tdPercentPV"></td>
                            <td id="tdDataNDC"></td>
                        </tr>
                    </table>
                </div>
                <div class="row d-flex">
                    <div id="divChartOPInteraction" class="col-sm-6"></div>
                    <div id="divChartVariationComponent" class="col-sm-6"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Page level script-->
<script src="~/Assets/JS/MyJS/GRRModule/GRRCommonFuncs.js"></script>
<script src="~/Assets/JS/MyJS/GRRModule/GRRCharts.js"></script>
