@using ATEVersions_Management.Models.DTOModels
@model IEnumerable<TestPlanDTO>

<!-- <link href="~/Assets/CSS/MyCSS/CustomDataTables.css" rel="stylesheet" /> -->
<table id="dtblTestPlan" class="table table-bordered text-black" width="100%" cellspacing="0">
    <thead>
        <tr class="bg-blue-opa75 text-white">
            <th>
                @Html.DisplayNameFor(model => model.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestPlanVersion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ModifyNote)
            </th>
            <th class="text-center">
                File
            </th>
        </tr>
    </thead>
    <tbody class="">
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TestPlanVersion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>

                <td>
                    <span class="breakLine">@Html.DisplayFor(modelItem => item.ModifyNote)</span>
                </td>
                <td align="center">
                    <a href="#" title="Preview"
                       class="text-danger"
                       data-toggle="modal" data-target="#TestPlanPreviewModal"
                       onclick="GetTestPlanFileData('@item.StoredDir')">
                        <i class="fas fa-fw fa-file-pdf"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
