@model ATEVersions_Management.Models.AccountModels.MyChangePassword
@using ATEVersions_Management.Models.ATEVersionModels
@using ATEVersions_Management.Models.HelperModels
@{
    ViewBag.Title = "Change PW";
    Layout = "~/Views/Shared/LayoutClient.cshtml";
    

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-5 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->

                        <div class=" p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Change password for @User.Identity.GetUserName()</h1>                                
                            </div>
                            <div class="form-group row">
                                @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Old password" } })
                                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                                <span class="text-danger">@ViewBag.Notify</span>
                            </div>
                            <div class="form-group row">
                                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "New password" } })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row">
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Confirm password" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row">                                
                                <input type="submit" class="btn btn-primary btn-user btn-block" value="Change password" />
                            </div>
                            <div align="center">
                                <a href="#" onclick="history.back()">
                                    <i class="fas fa-fw fa-arrow-circle-left"></i>
                                    <span>User Infor</span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
}

